* {
	border: none;
	border-radius: 10px;
    font-family: "hack Nerd Font";
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: rgba(0,0,0,0);
}

/* FAKE BAR  */
.modules-left,
.modules-center,
.modules-right {
    background-color: #1A1B26;
    border-radius: 15px;
    margin-top: 6px;
    padding: 2px 6px;
}

/* MARGIN */
.modules-left { margin-left: 9px; }
.modules-right { margin-right: 9px; }

/* WORKSPACES */
#workspaces {
  margin: 6px;
	border-radius: 18px;
	background: #222330;
  padding-left: 12px;
  padding-right: 6px;
}

#workspaces button {
	color: #B5E8E6;
	background: transparent;
  margin-right: 10px;
}

#workspaces button.active {
	color: #e0af68;
}

/* MODULES */
#network,
#pulseaudio,
#battery,
#clock,
#memory,
#disk,
#cpu {
	margin: 6px 0px 6px 8px;
	padding: 0 10px;
	border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
	color: #F1F1F1;
	background: #222330;
}

/* SPECIFIC COLORS */
#network { color: #e0af68; }
#memory { color: #7dcfff; }
#cpu { color: #f7768e; }
#pulseaudio { color: #F1F1F1; }

/* POWER */
#custom-power {
	margin: 6px 10px 6px 8px;
	padding: 0 15px;
	border-radius: 18px;
	color: #F1F1F1;
	background: transparent;
} 
/*
#custom-ip {
    margin: 6px 0px 6px 8px;
    padding: 0 12px;
    border-radius: 18px;

    font-size: 14px;
    font-weight: bold;

    color: #9ece6a;          
    background: #222330;

    transition: all 0.2s ease;
}
*/

 #custom-ip {
    margin: 6px 0px 6px 8px;
    padding: 0 12px;
    border-radius: 18px;
    background: #222330;
    font-weight: bold;
}

/* CONNECTED */
#custom-ip.connected {
    color: #1bbf3e;
}

/* DISCONNECTED */
#custom-ip.disconnected {
    color: #f7768e;
}

#custom-vpn {
    margin: 6px 0px 6px 8px;
    padding: 0 12px;
    border-radius: 18px;
    background: #222330;
    font-weight: bold;
}

/* CONNECTED */
#custom-vpn.connected {
    color: #1bbf3e;
}

/* DISCONNECTED */
#custom-vpn.disconnected {
    color: #f7768e;
}

#custom-ip_target {
    margin: 6px 0px 6px 8px;
    padding: 0 12px;
    border-radius: 18px;
    background: #222330;
    font-weight: bold;
}

/* CONNECTED */
#custom-ip_target.connected {
    color: #7dcfff;
}

/* DISCONNECTED */
#custom-ip_target.disconnected {
    color: #f7768e;
}
